pymupdf #lets us read and extract text from PDF resumes
spacy #  NLP tool used to process and clean up resume text
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz #pretrained English language model for spaCy